.header {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header p {
    font-size: 60px;
    text-align: center;
}

.main-page {
    border: 1px solid black;
}